* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
  }
  
  body, html {
    height: 100%;
  }
  
  .cont {
    display: flex;
    height: 100vh;
    align-items: center;
  }
  
 
  .left-side {
    flex: 1;
    background-color: gray;
    border-radius: 10px; 
  }
  .left-side h2{
    margin-bottom: 30px;
    color: black;

  }
  .right-side {
    flex: 1;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .form-cont {
    width: 80%;
    max-width: 400px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h1 {
    margin-bottom: 20px;
    color: black;
  }
  
  input, textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
    resize: none;
  }
  
  button {
    background-color:gray;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color:gray;
  }
  